* {
    font-family: "Source Sans Pro", "Source Sans 3", sans-serif !important;
    color: #000000;
}

@page {
    size: 595px 842px;
    margin: 64px 64px 74px 64px;
}

html {
    height:100%;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body::after {
    content: '';
    display: block;
}

#content {
    margin: 0;
    padding: 0;
}

#header {
    margin: 0;
    padding: 0 0 48px 0;
}

#footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    font-size: 9px;
    line-height: 16px;
    font-weight: 400;
    padding: 0;
}

#nav_logo {
    display: block;
    width: auto;
    height: 16px;
    margin: 0;
    padding: 0;
}

.line_top {
    border-top: 1px black solid;
}

.line_bottom {
    border-bottom: 1px black solid;
}

.line_left {
    border-left: 1px black solid;
}

.line_right {
    border-right: 1px black solid;
}

.block {
    width: 100%;
    margin-top: 0;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin: 0 0 32px 0;
}

h2 {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin: 0 0 16px 0;
}

h3 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0 0 16px 0;
}

h4 {
    font-size: 11px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin: 0 0 16px 0;
}

p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

tr {
    font-size: 11px;
    line-height: 16px;
}

p + h2,
p + h3,
p + h4,
table + h2,
table + h3,
table + h4,
h2 + h2,
h3 + h3,
h4 + h4 {
    margin-top: 32px;
}

.bold {
    font-weight: 700;
}

.checkbox {
    width: 3mm;
    height: 3mm;
    border: black 1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
}

.new_page {
    page-break-before: always;
}

.checkbox_title_right {
    margin-left: 5mm;
    font-size: 12px;
    vertical-align: middle;
}

.titled_checkbox_block {
    margin-left: 3mm;
    margin-bottom: 5mm;
}

.titled_checkbox_inline {
    display: inline;
    margin-left: 3mm;
}

.signature_date_title {
    font-size: 10px;
}

.centered_text_title {
    text-align: center;
    font-size: 12px;
}

.signature {
    margin: 32px 0 48px 0;
}

#returadresse {
    margin: 0;
    font-size: 9px;
    line-height: 12px;
}
