:root {
  font-family: "Source Sans 3", "Source Sans Pro", Arial, sans-serif;
  font-optical-sizing: auto;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-8);
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-8);
  padding-block: var(--a-spacing-12);
}

.home-page__application-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}
