:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.home-page {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-8);
  padding-block: var(--a-spacing-12);
}

.home-page__application-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-3);
}
