<h1>Søknaden er opprettet og behandles i Arena</h1>

<table>
    <tr>
        <td class="td02">Saksnummer:</td>
        <td>{{saksnummer}}</td>
    </tr>
    <tr>
        <td class="td02">Tiltaksgjennomføringsid:</td>
        <td>{{tiltaksgjennomfoeringId}}</td>
    </tr>
</table>