name: CICD Backend
on:
  push:
    paths:
      - backend/**
      - nais/dev-gcp-backend.yaml
      - nais/prod-gcp-backend.yaml
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1' # bygg nytt image hver mandag morgen


jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    services:
      postgres:
        image: postgres:18.0
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5532:5432
    steps:
      - uses: actions/checkout@v4

      - run: PGPASSWORD=postgres psql -U postgres -h localhost -p 5532 -f ./backend/local-db-init.sql

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
          cache-dependency-path: backend/pom.xml

      - run: mvn -B package
        working-directory: backend

      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.sha }}.bom.json
          path: backend/target/bom.json

      - uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: fager
          image_suffix: backend
          tag: ${{ github.sha }}
          dockerfile: backend/Dockerfile
          docker_context: backend
          salsa: false

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
      digest: ${{ steps.docker-build-push.outputs.digest }}

  salsa:
    if: github.ref == 'refs/heads/main'
    name: attest and sign image
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: fager

      - uses: actions/download-artifact@v4
        with:
          name: ${{ github.sha }}.bom.json
          path: ./

      - uses: nais/attest-sign@v1
        with:
          image_ref: ${{ needs.build.outputs.image }}@${{ needs.build.outputs.digest }}
          sbom: bom.json

  deploy-dev:
    if: github.ref == 'refs/heads/main'
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        name: Deploy dev-gcp
        env:
          VAR: image=${{ needs.build.outputs.image }}
          RESOURCE: nais/dev-gcp-backend.yaml
          CLUSTER: dev-gcp
